@import "../../assets/scss/theme.scss";

.apexcharts-canvas {
    text {
        fill: $text-muted !important;
    }
}

.avatar-icon {
    width: 30px;
    height: 30px;
    fill: white;
    opacity: 0.9;
    position: relative;
  }
.margin-bottom-20 {
    margin-bottom: 20px;
}
.error-field {
    font-size: 10px;
    font-weight: 400;
}
.league-field {
    border: null;
    font-weight: 'bolder';
    font-size: 13;
    text-align: 'center';
    outline: null;
}

.fall {
    animation: moveDown 0.5s ease-in-out;
}